body tr {
    
    display: grid;
    grid-template-columns: repeat(6, minmax(10rem, 1fr));
    align-items: center;
    
    margin-bottom: 10px;

    color: var(--bg-color);
  
    &:last-child {
      box-shadow: none;
    }
  }
  .admin-users {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .cot {
    max-width: 140rem;
    padding: 4rem 2.4rem;
    margin: 0 auto;
  }
  .admin-users-section{
    min-height: 74vh;
    
  }
  thead{
   
  }

  